@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
.hero-container{
    height: 92vh;
    color: aliceblue;
    position: relative;
    overflow:hidden;
}

.hero-blob{
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #14172b;
    animation: blob 10s infinite alternate;
    z-index: 0;
    transition: all 0.5s ease;
}
.hero-blob-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
}
.hero-wrapper{
    width: 100%;
    min-height: 92vh;
    backdrop-filter: blur(30px);
    position: relative;
    z-index: 2;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-txt{
    font-size: 96px;
    font-weight: 500;
    color: #c0c8ff;
}

.hero-row-sm{
    width: 300px;
    margin: 20px 0;
    position: absolute;
    right: 30px;
    top:77%;
    padding: 20px;
    color: #b8a5a5;
    font-size: 18px;
    transition: transform 0.5s linear;
}
.hero-row-sm:hover{
    transform: scale(1.25);
}

.hero-span{
    position: relative;
}
.hero-span span{
    height: 5px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transition: width 0.4s linear;
}
.hero-span:hover span{
    width: 100%;
}

@media only screen and (max-width:719px){
    .hero-txt{
        font-size: 48px;
        text-align: center;
    }
    .hero-wrapper{
        justify-content: center;
        align-items: center;
    }
    .hero-row-sm{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
    }
    .hero-blob-container{
        display: grid;
        place-items: center;
    }
    .hero-blob{
        position: relative;
        top: auto;
        left: auto;
        right: auto;
    }
}
@media only screen and (max-width:470px) {
    .hero-txt{
        font-size: 36px;
    }
}


@keyframes blob{
    0%{
        border-radius: 80% 60% 68% 72% / 65% 56%;
    }
    25%{
        border-radius: 68% 110% 80% 95% / 125% 65%;
    }
    50%{
        border-radius: 120% 80% 115% 85% / 95% 78%;
    }
    75%{
        border-radius: 60% 122% 88% 65% / 54% 68%;
    }
    100%{
        border-radius: 80% 85% 72% 60% / 75% 65%;
    }
}