.loader-container{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-top: -8vh;
    pointer-events: none;
}
.loader-hide{
    display: none;
}