.service-container{
    min-height: 92vh;
    color: silver;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-header{
    font-size: 24px;
    color: #a4a2a2;
    text-align: center;
    margin-bottom: 40px;
}
.service-table{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Oswald';
    flex-wrap: wrap;
    gap: 25px;
}
.service-row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    color: antiquewhite;
    list-style:square;
}
